* 
{
  box-sizing: border-box;
}
body 
{
  font-family: 'Times New Roman', Times, serif;
  background-color: #538ac0;
  color: #ffffff;
  margin: 0;
  padding: 37px;
}

.CV-container 
{
  max-width: 900px;
  margin: 0 auto;
  background-color: rgb(54, 118, 191);
  padding: 19px;
  border-radius: 29px;
}

header 
{
  text-align: center;
  border-top: 1;
  padding-top: 1;
  margin-top: 1;
  border-bottom: 20px solid #6fa2dd;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

h1 
{
  color: #becfff;
  font-size: 37px;
  margin-bottom: 10px;
}

h2 
{
  color: hsl(222, 100%, 90%);
  font-size: 25px;
  border-bottom: 7px solid #5783d9;
  padding-left: 10px;
  margin-bottom: 15px;
}

.tel
{
    text-align: right;
    margin-right: 75px;
    margin-bottom: 15px;
    font-size: 20px;

}

.mail
{
    text-align: left;
    margin-bottom: 15px;
    font-size: 20px;

}

.ubi
{
    text-align: right;
    margin-bottom: 15px;
    font-size: 20px;

}

.section h2
{
text-align: center;
font-size: 25px;
}

.section p
{
font-size: 15px;
}

p
{
  line-height: 1.2;
  margin: 8px 0;
}

ul
{
  padding-left: 25px;
}

li
{
  margin-bottom: 7px;
}

a
{
  color: #242a36;
  text-decoration: underline;
}

a:hover
{
  text-decoration: underline;
}

footer 
{
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #616972;
  color: #bcabab;
  font-size: 16px;
}